.createBtn {
  box-sizing: border-box;
  padding: 25px 26px;
  display: flex;
  outline: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #202124;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: green;
  letter-spacing: 1px;
  border-left: 10px solid green;
}

.createBtn:hover {
  border: 1px solid #003c804b;
  border-left: 10px solid green;
  padding: 24px 26px;
  border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
}

.contactBtn {
  padding: 10px 26px;
  display: flex;
  outline: 0;
  font-weight: 500;
  line-height: 1.25rem;
  color: #0b62e4;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}

.createCol {
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.btnCol {
  background-color: #2b71e21b;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .VerticalCol {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .createBtn {
    font-size: 1.25rem;
  }
}

@media (max-width: 560px) {
  .VerticalCol {
    width: 150px !important;
    display: inline-block;
  }

  .createBtn {
    font-size: 0.8rem;
    padding: 25px 8px;
    letter-spacing: 0.4px;
    border-left: 7px solid green;
  }

  .createBtn:hover {
    border: 1px solid rgba(0, 60, 128, 0.294);
    padding: 24px 8px;
  }

  .createBtn .fa-user-plus {
    padding-right: 3px;
    padding-top: 2px;
    padding-left: 0;
    margin-left: 0;
  }

  .contactBtn {
    font-size: 0.75rem;
    padding: 8px 0 8px 16px;
    letter-spacing: 0.4px;
  }

  .contactBtn .fa-user-o {
    padding-top: 3px;
  }
}
